@import 'src/styles/common';

.root {
  position: relative;
  z-index: 2;
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  padding-left: 7px;
  color: $white;
}

.input_holder {
  display: flex;
  //margin-bottom   : 60px;
  align-items: center;
  //min-width       : 100%;
  flex-direction: row;
  justify-content: space-between;
  min-width: 687px;
  max-width: 687px;
  margin-top: 14px;
}

.autocomplete {
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  min-width: 325px;
  height: 60px;
  padding: 6px 18px;
  border-radius: 3px;
  background: #ffffff;
}

.destinationDropdown {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-variant: small-caps;
  line-height: 21px;
  color: #292929;
}

.geoIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  min-height: 30px;
  cursor: pointer;
  color: #e5e5e5;
  border: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.swapBtn {
  padding: 1px;
  color: #e5e5e5;
}
