.destinationDropdown {
  padding: 14px 0 15px 0;
  background-color: #f7f5f9;
  text-transform: uppercase;
}

.destinationDropdown .ant-select-item {
  min-height: 32px;
  color: #3e3c46;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  background-color: #f7f5f9;
  transition: background 0.3s ease;
  padding-left: 25px;
  padding-right: 20px;
}

.destinationDropdown .ant-select-item:active,
.destinationDropdown .ant-select-item-option-active,
.destinationDropdown .ant-select-item:focus {
  background-color: #e5e5e5;
}

.destinationDropdown .ant-select-item-option-selected:hover,
.destinationDropdown .ant-select-item-option:hover {
  background-color: #e5e5e5;
}
