@import 'src/styles/common';

.carriageNumber {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;

  color: #2d2b2f;
  border: 0;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    color: #ffa800;
  }

  &:disabled {
    cursor: default;
    color: #ffffff;
  }
}
