@import 'src/styles/common';

.ticketsCountTitle {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 35px;
  padding: 40px 20px 20px;

  color: #292929;
}

.ticketsTypeRow {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  display: grid;
  min-height: 190px;
  grid-template-columns: 1fr 1fr 1fr;
}

.inputCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 20px 35px;
  color: #928f94;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid rgba(255, 168, 0, 0.79);
  }

  &:focus-within {
    color: #000000;
    border: 1px solid #f7f6f6;
    background: #f7f6f6;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.input {
  box-sizing: border-box;
  width: 240px;

  height: 50px;
  margin-bottom: 25px;
  border: 1px solid #928f94;
  border-radius: 5px;
  background: #ffffff;
}
