@import 'src/styles/common';

.root {
  display: flex;
  flex-direction: column;
  //min-width       : 100%;
  justify-content: space-between;
  margin: 90px 90px 0 0;
}

.lastTicketsTitle {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #000000;
}

.sideSelection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
  padding: 45px 28px 35px;
  background: #3e3c41;

  .datePicker {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.sideSelection__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  align-self: flex-start;
  padding-bottom: 10px;
  color: #ffffff;
}

.divider {
  width: 360px;
  min-height: 1px;
  max-height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #e5e5e5;
}

.filterList {
  width: 100%;
}

.pricePickerLabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  span {
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;

    &:first-child {
      margin-left: 5px;
    }

    &:last-child {
      margin-right: 5px;
    }
  }
}
