@import 'src/styles/common';

.root {
  width: 320px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 32px;
  height: 26px;
}

.sideSelection__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  flex-grow: 1;
  margin: 0 12px;
  color: #ffffff;
}

.sideSelection__timestamp {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  color: #ffffff;
}

.timePickerPanel {
  position: relative;
  display: grid;
  align-items: flex-start;
  width: 100%;
  padding: 0 10px;
  grid-template-rows: repeat(7, min-content);
  grid-template-columns: 1fr min-content min-content 1fr;
  gap: 5px;
  grid-template-areas:
    'trainIdTitle trainIdTitle trainIdNumber trainIdNumber'
    'trainNameTitle trainNameTitle trainName trainName'
    ' . duration duration .'
    'departureDateTime direction direction arrivalDateTime'
    'departureDate departureDate arrivalDate arrivalDate'
    'departureCity departureCity arrivalCity arrivalCity'
    'departureStation departureStation arrivalStation arrivalStation';
}

.timePickerSubTitle {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;

  color: #e5e5e5;
}

.trainIdTitle {
  grid-area: trainIdTitle;
  justify-self: flex-start;
}

.trainNameTitle {
  grid-area: trainNameTitle;
  justify-self: flex-start;
}

.trainName {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  text-align: right;
  color: #ffffff;
  grid-area: trainName;

  justify-self: flex-end;
}

.trainIdNumber {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
  grid-area: trainIdNumber;

  justify-self: flex-end;
}

.duration {
  grid-area: duration;
  justify-self: center;
}

.departureDateTime {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  color: #ffffff;
  grid-area: departureDateTime;

  justify-self: flex-start;
}

.departureDate {
  grid-area: departureDate;
  justify-self: flex-start;
}

.direction {
  grid-area: direction;
  justify-self: center;
}

.arrivalDateTime {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  color: #ffffff;
  grid-area: arrivalDateTime;

  justify-self: flex-end;
}

.arrivalDate {
  grid-area: arrivalDate;
  justify-self: flex-end;
}

.departureStation {
  grid-area: departureStation;
  justify-self: flex-start;
}

.departureCity {
  grid-area: departureCity;
  justify-self: flex-start;
}

.arrivalCity {
  grid-area: arrivalCity;
  justify-self: flex-end;
}

.arrivalStation {
  grid-area: arrivalStation;
  justify-self: flex-end;
}

.subText {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;

  color: #928f94;
}
