@import 'src/styles/common';

.root {
  position: relative;
  z-index: 2;
}

.title {
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  padding-left: 7px;
  color: $white;
}

.input_holder {
  display: flex;
  //margin-bottom   : 60px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-width: 687px;
  max-width: 687px;
  margin-top: 14px;
}

.inputItem {
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  color: #292929;
  border-radius: 3px;
  background: #ffffff;
}

.headerPicker {
  min-width: 320px;
  height: 60px;
  padding: 6px 18px;

  &:not(:last-child) {
    margin-right: 35px;
  }
}

.asidePicker {
  min-width: 295px;
  height: 43px;
  margin-bottom: 30px;
  padding: 10px 18px 10px 8px;
}

.dropDown {
  &::before,
  &::after {
    position: absolute;
    top: -30px;
    left: calc(50% - 15px);
    content: '';
    border: 15px solid transparent;
    border-bottom: 15px solid lightgrey;
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        /* Safari Only CSS here */
        top: -29px;
      }
    }
  }

  &::after {
    position: absolute;
    top: -28px;
    left: calc(50% - 14px);
    content: '';
    border: 14px solid transparent;
    border-bottom: 14px solid white;
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        /* Safari Only CSS here */
        top: -27px;
      }
    }
  }
}

.datePicker {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sideSelection__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  align-self: flex-start;
  padding-bottom: 10px;
  color: #ffffff;
}
