@import 'src/styles/common';

.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 959px;
  background: #f7f5f9;

  & .title {
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: 35px;
    margin-bottom: 55px;

    text-transform: uppercase;
    color: #292929;
  }

  .btn {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;

    line-height: 28px;
    align-self: flex-end;
    width: 228px;
    height: 60px;
    margin-top: 100px;
    text-align: center;
    color: #ffffff;

    border: 0;
    border-radius: 5px;
    background: #ffa800;

    &:disabled {
      background: #928f94;

      &:hover {
        color: #ffffff;
      }
    }

    &:hover:enabled {
      color: #ffffff;
      border: 0;

      border-radius: 5px;
      background: #ffa800;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &:active:enabled,
    &:focus:enabled {
      box-sizing: border-box;
      color: #ffa800;
      border: 1px solid #ffa800;
      border-radius: 5px;
      background: #ffffff;
    }
  }
}
