@import 'src/styles/common';

.carriageTypeTitle {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 35px;
  padding: 25px 20px;
  color: #292929;
}

.carriageTypeIcons {
  display: grid;
  min-height: 170px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
