@import 'src/styles/common';

.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 960px;
  max-width: 960px;

  border: 1px solid #c4c4c4;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 35px 20px;
  }
}

.btnHeader {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 28px;
  box-sizing: border-box;
  width: 325px;
  height: 60px;

  margin-left: 10px;
  text-align: center;
  color: #292929;
  border: 1px solid #292929;
  border-radius: 5px;

  background: #ffffff;

  &:hover {
    color: #ffa800;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  &:active,
  &:focus {
    box-sizing: border-box;
    color: #292929;
    border: 1px solid #ffa800;
    border-radius: 5px;
    background: #ffa800;
  }
}

.divider {
  min-height: 50px;
  border-bottom: 1px dashed #c4c4c4;
}

.carriageTypeTitle {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 35px;
  padding: 25px 20px;
  color: #292929;
}

.carriageTypeIcons {
  display: grid;
  min-height: 170px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.carriageList {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  height: 37px;
  padding: 5px 30px 5px;
  background: #ffd98f;

  .carriages {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    flex-grow: 0;
    color: #292929;

    &:last-child {
      align-self: center;
    }
  }

  .carriagesNumbers {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    flex-grow: 1;
    padding: 0 10px;
    color: #2d2b2f;
  }
}

.selectedCarriage {
  display: flex;
  flex-direction: row;
  height: 160px;
  min-height: 160px;

  .selectedCarriageNumber {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 190px;
    height: 100%;
    color: #292929;
    background: #ffd98f;

    .number {
      font-size: 72px;
      font-weight: bold;
      font-style: normal;
      line-height: 84px;
    }

    .subNumber {
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      line-height: 28px;
    }
  }

  .selectedCarriageInfoBox {
    flex-grow: 1;
  }

  .selectedCarriageInfo {
    display: grid;
    padding-top: 35px;
    padding-left: 85px;
    grid-template-columns: 2fr 1fr;

    & .sciBlock {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      line-height: 21px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;

      color: #928f94;

      .seatsPrice {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
      }

      .seatsCount {
        color: #292929;
      }

      .seatsType {
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        line-height: 28px;

        padding-top: 20px;
        color: #000000;

        .seatsTypeNumber {
          font-weight: 700;
          margin-left: 10px;
        }
      }

      .price {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        line-height: 28px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 20px;

        color: #000000;
      }

      .rub {
        width: 14px;
        height: 17px;
        margin-left: 10px;
        color: #928f94;
      }
    }
  }
}

.preSchemeDivider {
  display: flex;
  justify-content: flex-end;
  height: 70px;

  .preSchemeDividerTooltip {
    font-size: 16px;
    font-weight: normal;

    font-style: normal;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;

    margin-right: 40px;
    padding: 15px;
    color: #292929;
    border-radius: 5px;

    background: #f3f3f3;
  }
}

.carriageScheme {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.totalPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;

  .totalPriceNumbers {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;

    color: #ffa800;
  }

  .totalPriceSymbol {
    width: 14px;
    height: 17px;
    margin-top: -4px;
    margin-right: 24px;
    margin-left: 15px;
    color: #928f94;
  }
}
