.seat1 {
  grid-area: seat1;
}

.seat2 {
  grid-area: seat2;
}

.seat3 {
  grid-area: seat3;
}

.seat4 {
  grid-area: seat4;
}

.seat5 {
  grid-area: seat5;
}

.seat6 {
  grid-area: seat6;
}

.seat7 {
  grid-area: seat7;
}

.seat8 {
  grid-area: seat8;
}

.seat9 {
  grid-area: seat9;
}

.seat10 {
  grid-area: seat10;
}

.seat11 {
  grid-area: seat11;
}

.seat12 {
  grid-area: seat12;
}

.seat13 {
  grid-area: seat13;
}

.seat14 {
  grid-area: seat14;
}

.seat15 {
  grid-area: seat15;
}

.seat16 {
  grid-area: seat16;
}

.seat17 {
  grid-area: seat17;
}

.seat18 {
  grid-area: seat18;
}

.seat19 {
  grid-area: seat19;
}

.seat20 {
  grid-area: seat20;
}

.seat21 {
  grid-area: seat21;
}

.seat22 {
  grid-area: seat22;
}

.seat23 {
  grid-area: seat23;
}

.seat24 {
  grid-area: seat24;
}

.seat25 {
  grid-area: seat25;
}

.seat26 {
  grid-area: seat26;
}

.seat27 {
  grid-area: seat27;
}

.seat28 {
  grid-area: seat28;
}

.seat29 {
  grid-area: seat29;
}

.seat30 {
  grid-area: seat30;
}

.seat31 {
  grid-area: seat31;
}

.seat32 {
  grid-area: seat32;
}

.seat33 {
  grid-area: seat33;
}

.seat34 {
  grid-area: seat34;
}

.seat35 {
  grid-area: seat35;
}

.seat36 {
  grid-area: seat36;
}

.seat37 {
  grid-area: seat37;
}

.seat38 {
  grid-area: seat38;
}

.seat39 {
  grid-area: seat39;
}

.seat40 {
  grid-area: seat40;
}

.seat41 {
  grid-area: seat41;
}

.seat42 {
  grid-area: seat42;
}

.seat43 {
  grid-area: seat43;
}

.seat44 {
  grid-area: seat44;
}

.seat45 {
  grid-area: seat45;
}

.seat46 {
  grid-area: seat46;
}

.seat47 {
  grid-area: seat47;
}

.seat48 {
  grid-area: seat48;
}

.seat49 {
  grid-area: seat49;
}

.seat50 {
  grid-area: seat50;
}

.seat51 {
  grid-area: seat51;
}

.seat52 {
  grid-area: seat52;
}

.seat53 {
  grid-area: seat53;
}

.seat54 {
  grid-area: seat54;
}

.seat55 {
  grid-area: seat55;
}

.seat56 {
  grid-area: seat56;
}

.seat57 {
  grid-area: seat57;
}

.seat58 {
  grid-area: seat58;
}

.seat59 {
  grid-area: seat59;
}

.seat60 {
  grid-area: seat60;
}

.seat61 {
  grid-area: seat61;
}

.seat62 {
  grid-area: seat62;
}
