@import '../../../../../../styles/common';

.carriageTypeIcon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #c4c4c4;
  border: 0;
  background: transparent;

  &:hover {
    cursor: pointer;
    color: #ffa800;
    border: 1px solid #ffa800;
    border-radius: 30px;
  }

  &:disabled {
    cursor: not-allowed;
    color: #c4c4c4;
    border: 0;
  }

  & .carriageTypeSubtitle {
    margin-top: 25px;
  }
}

.active {
  color: #ffa800;
}
