@import '../../../../../../styles/common';

.carriageTypeIcon {
  margin-bottom   : 5px;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  text-transform  : uppercase;
  color           : #C4C4C4;
  background      : transparent;
  border          : 0;
  
  &:hover {
    color         : #FFA800;
    border        : 1px solid #FFA800;
    border-radius : 30px;
    cursor        : pointer;
  }
  
  &:disabled {
    color  : #C4C4C4;
    border : 0;
    cursor : not-allowed;
  }
  
  & .carriageTypeSubtitle {
    margin-top : 25px;
  }
}

.active {
  color : #FFA800;
  
}