@import 'src/styles/common';

.sciBlock {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  color: #928f94;

  .sciBlockServices {
    display: flex;
    flex-direction: row;
    margin-top: 15px;

    & .serviceIcon {
      display: flex;

      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 36px;
      height: 34.11px;
      color: #292929;
      border: 1px solid #292929;
      border-radius: 5px;
      background-color: transparent;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &:hover:not(:disabled) {
        cursor: pointer;
        background-color: #ffa800;
      }
    }

    & .included {
      color: #928f94;
      border: 1px solid #fcdc9d;
      background-color: #fcdc9d;

      &:hover {
        cursor: not-allowed;
        border: 1px solid #fcdc9d;
        background-color: #fcdc9d;
      }
    }

    & .selected {
      color: #ffffff;
      border: 1px solid #fdb935;
      background: #fdb935;
    }
  }
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 276px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &_inside {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    &_content {
      margin-right: 5px;
      color: black;
    }

    &_moneySymbol {
      flex-grow: 0;
      width: 10px;
      height: 14px;
      margin-top: -4px;
      color: #928f94;
    }
  }
}
