@import 'src/styles/common';

.trainData {
  display          : flex;
  height           : 125px;
  flex-direction   : row;
  background-color : #F7F6F6;
  
  .points {
    flex-grow    : 1;
    border-left  : 1px solid #FFFFFF;
    border-right : 1px solid #FFFFFF;
  }
  
  .index {
    display        : flex;
    min-width      : 240px;
    flex-direction : row;
    flex-grow      : 0;
  }
  
  .icon {
    padding         : 45px 25px 45px 35px;
    display         : flex;
    justify-content : center;
    align-items     : center;
  }
  
  .textIndex {
    padding         : 15px 0;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : flex-start;
  }
  
  .trainId {
    font-size   : 24px;
    line-height : 28px;
    font-weight : bold;
    font-style  : normal;
    
    color       : #3E3C41;
  }
  
  .textContainer {
    font-size   : 16px;
    line-height : 19px;
    font-weight : normal;
    font-style  : normal;
    
    color       : #3E3C41;
    
  }
}

.points {
  padding         : 25px 35px;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  align-items     : center;
  font-style      : normal;
  
  .time {
    font-size   : 24px;
    line-height : 28px;
    font-weight : 700;
    color       : #000000;
  }
  
  .city {
    font-size   : 18px;
    line-height : 21px;
    font-weight : 400;
    
    color       : #000000;
  }
  
  .station {
    font-size   : 16px;
    line-height : 18px;
    font-weight : 400;
    
    color       : #928F94;
  }
  
  .col2 {
    display         : flex;
    justify-content : center;
    align-items     : center;
  }
}

.duration {
  padding        : 35px 45px 45px;
  display        : flex;
  min-width      : 240px;
  flex-direction : row;
  align-items    : center;
  flex-grow      : 0;
}

.durationText {
  margin-left : 10px;
  font-size   : 18px;
  line-height : 21px;
  font-weight : normal;
  
  font-style  : normal;
  color       : #000000;
}
