@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');
@import '~antd/dist/antd.css';

@mixin adaptiveFont($pcSize, $mobSize) {
  $addSize  : $pcSize - $mobSize;
  $maxWidth : $maxWidth - 320;
  font-size : calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

$maxWidth            : 1920;
$logo-bg             : rgba(41, 41, 41, 1);
$logo-color          : rgba(229, 229, 229, 1);
$logo-bg-transparent : rgba(41, 41, 41, 0.8);

$footer-border       : rgba(229, 229, 229, 1);
$footer-bg           : rgba(45, 43, 47, 1);

$white               : rgba(255, 255, 255, 1);

$paddings            : 0 260px;

#root {
  margin     : 0 auto;
  min-height : 100%;
  font       : inherit;
}

html,
body {
  box-sizing  : border-box;
  height      : 100%;
  font-family : 'Roboto', sans-serif;
}

a {
  color : #727e86;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration : none;
}

a:hover {
  cursor : pointer;
}

ul,
li {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

p {
  margin  : 0;
  padding : 0;
}

.invisible {
  opacity : 0;
}

.text-center {
  align-self : center;
}

.alert-hidden {
  opacity    : 0;
  transition : all 250ms linear 2s;
  /* the last value defines transition-delay */
}

.shadow {
  -moz-box-shadow    : 0 5px 5px -5px rgba(34, 60, 80, 0.6);
  -webkit-box-shadow : 0 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow         : 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}

header {
}

main {
  //flex : 1 1 auto;
}

footer {
}