@import '../../../../styles/common';

.root {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  margin-top: 50px;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.general {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 200px;
  background: #e4e0e9;

  .icon {
    padding: 58px 68px 17px 43px;
  }

  .general__txt {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
    padding: 0 0 30px 25px;

    color: #292929;

    .textContainer {
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
    }

    .trainId {
      font-size: 24px;

      font-weight: bold;
      font-style: normal;
      line-height: 28px;
      padding: 0 48px 15px 0;
      text-align: center;
      color: #3e3c41;
    }
  }
}

.params {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;

  .params__schedule {
    min-width: 480px;
    padding: 55px 40px;

    .row {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 45px;
      color: #000000;

      .col1 {
        flex-grow: 0;
        min-width: 160px;
        max-width: 160px;
      }

      .col2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        padding-right: 40px;
      }

      .time {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        line-height: 28px;
      }

      .city {
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 21px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: left;
        letter-spacing: 0;
      }

      .station {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 19px;
        text-align: left;
        letter-spacing: 0;
        color: #928f94;
      }

      .duration {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        line-height: 21px;

        color: #c4c4c4;
      }

      .arrow {
      }
    }
  }

  .seats {
    min-width: 280px;
    border-left: 1px dashed #e5e5e5;
  }
}

.btn {
  //width       : 22px;
  //height      : 22px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;

  color: #928f94;
}

.active {
  color: #000000;
}
