@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');
@import '~antd/dist/antd.css';

#root {
    font: inherit;
    min-height: 100%;
    margin: 0 auto;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

a {
    color: #727e86;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.invisible {
    opacity: 0;
}

.text-center {
    align-self: center;
}

.alert-hidden {
    transition: all 250ms linear 2s;
    opacity: 0;
    /* the last value defines transition-delay */
}

.shadow {
    -moz-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    -webkit-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.root {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
    border: 1px solid #c4c4c4;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.general {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 200px;
    background: #e4e0e9;
}

.general .icon {
    padding: 58px 68px 17px 43px;
}

.general .general__txt {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
    padding: 0 0 30px 25px;
    color: #292929;
}

.general .general__txt .textContainer {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.general .general__txt .trainId {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;
    padding: 0 48px 15px 0;
    text-align: center;
    color: #3e3c41;
}

.params {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.params .params__schedule {
    min-width: 480px;
    padding: 55px 40px;
}

.params .params__schedule .row {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 45px;
    color: #000000;
}

.params .params__schedule .row .col1 {
    flex-grow: 0;
    min-width: 160px;
    max-width: 160px;
}

.params .params__schedule .row .col2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    padding-right: 40px;
}

.params .params__schedule .row .time {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;
}

.params .params__schedule .row .city {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    letter-spacing: 0;
}

.params .params__schedule .row .station {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0;
    color: #928f94;
}

.params .params__schedule .row .duration {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 21px;
    color: #c4c4c4;
}

.params .seats {
    min-width: 280px;
    border-left: 1px dashed #e5e5e5;
}

.btn {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 21px;
    color: #928f94;
}

.active {
    color: #000000;
}

/*# sourceMappingURL=TrainCard.module.css.map */
