@import 'src/styles/common';

.root {
  font-size      : 30px;
  line-height    : 35px;
  font-weight    : 500;
  font-style     : normal;
  text-transform : uppercase;
  
  color          : #E5E5E5;
}