.ant-select-arrow {
  display: none;
}

.sort .ant-select-item-active:not(.ant-select-item-disabled),
.sort .ant-select-item-active:not(.ant-select-item-disabled):hover {
  font-weight: normal;
}

.sort .ant-select-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.sort .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #3e3c46;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #f7f5f9;
}

.sort .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
  color: #3e3c46;
}

.sort .ant-select-item,
.sort .ant-select-item:active,
.sort .ant-select-item:focus {
  min-height: 32px;
  padding: 5px 12px;
  color: #3e3c46;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  background-color: #f7f5f9;
  transition: all 0.3s ease;
}

.sort .ant-select-item-option-selected:hover,
.sort .ant-select-item-option:hover {
  background-color: #ffca62;
  color: #ffffff;
}
