@import 'src/styles/common';

.root {
  position: relative;
  z-index: 1;
  min-width: 100%;
  margin: 0;
  padding: 0;

  & .back {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
  }

  & .content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.main {
  height: 985px;
  border-bottom: solid 8px rgba(255, 168, 0, 1);
}

.select {
  //margin-bottom : 100px;
  height: 600px;
}

.success {
  height: 820px;
}

.logo_holder {
  margin: 0;
  padding: 15px 260px;
  background: rgba(0, 0, 0, 0.6);
}

.header__controls_main {
  display: flex;
  flex-direction: row;
  min-height: 820px;
}

.header__controls_col {
  display: flex;
  box-sizing: border-box;
  width: 50%;
  min-height: 100%;
}

.motto_holder {
  margin: 0;
  padding-top: 410px;
  padding-left: 340px;
}

.picker_holder_main {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;

  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 737px;
  height: 548px;
  margin-bottom: 9px;
  padding: 60px 25px;
  border: 0;
  background: rgba(41, 41, 41, 0.8);

  //@media not all and (min-resolution : .001dpcm) {
  //  @supports (-webkit-appearance: none) {
  //    /* Safari Only CSS here */
  //    margin-bottom : 9px;
  //  }
  //}

  .picker_holder_main_destination_helper {
    margin-bottom: 60px;
  }
}

.header__controls_select {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 434px;
}

.picker_holder_select {
  position: relative;
  z-index: 1;
  display: flex;
  align-self: flex-end;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  margin: 110px 215px 0;
  padding: 30px 45px;
  border: 0;
  background: rgba(41, 41, 41, 0.8);

  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      /* Safari Only CSS here */
      //margin-bottom : 9px;
    }
  }

  .picker_holder_select_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.search_btn_holder {
  display: flex;
  justify-content: flex-end;
  margin-top: 90px;
}

.search_btn_holder_select {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 45px;
}

.searchBtn {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  width: 323px;
  height: 60px;

  text-align: center;
  text-transform: uppercase;
  color: #292929;
  border: 0;
  border-radius: 5px;
  background: rgba(255, 168, 0, 1);

  &:hover,
  &:focus {
    color: #292929;
    background: rgba(255, 168, 0, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    color: #ffa800;
    border: 1px solid #ffa800;
    background: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.success__msg {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin-top: 350px;
  padding: 0 260px;

  color: #ffffff;
}
