@import 'src/styles/common';

.root {
  position  : relative;
  z-index   : 1;
  margin    : 0;
  padding   : 0;
  min-width : 100%;
  
  & .back {
    position   : absolute;
    z-index    : 0;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    opacity    : 1;
    object-fit : cover;
    
  }
  
  & .content {
    position       : absolute;
    z-index        : 2;
    top            : 0;
    left           : 0;
    display        : flex;
    width          : 100%;
    height         : 100%;
    flex-direction : column;
  }
}

.main {
  height        : 985px;
  border-bottom : solid 8px rgba(255, 168, 0, 1);
}

.select {
  //margin-bottom : 100px;
  height : 600px;
}

.success {
  height : 820px;
}

.logo_holder {
  margin     : 0;
  padding    : 15px 260px;
  background : rgba(0, 0, 0, 0.6);
  
}

.header__controls_main {
  display        : flex;
  min-height     : 820px;
  flex-direction : row;
}

.header__controls_col {
  display    : flex;
  box-sizing : border-box;
  width      : 50%;
  min-height : 100%;
}

.motto_holder {
  margin       : 0;
  padding-top  : 410px;
  padding-left : 340px;
}

.picker_holder_main {
  position        : relative;
  z-index         : 1;
  margin-bottom   : 9px;
  padding         : 60px 25px;
  display         : flex;
  
  box-sizing      : border-box;
  width           : 737px;
  height          : 548px;
  flex-direction  : column;
  justify-content : flex-start;
  align-items     : flex-end;
  background      : rgba(41, 41, 41, 0.8);
  border          : 0;
  align-self      : flex-end;
  
  //@media not all and (min-resolution : .001dpcm) {
  //  @supports (-webkit-appearance: none) {
  //    /* Safari Only CSS here */
  //    margin-bottom : 9px;
  //  }
  //}
  
  .picker_holder_main_destination_helper {
    margin-bottom : 60px;
  }
}

.header__controls_select {
  display        : flex;
  box-sizing     : border-box;
  min-height     : 434px;
  flex-direction : row;
}

.picker_holder_select {
  position       : relative;
  z-index        : 1;
  margin         : 110px 215px 0;
  padding        : 30px 45px;
  display        : flex;
  
  box-sizing     : border-box;
  width          : 100%;
  flex-direction : column;
  background     : rgba(41, 41, 41, 0.8);
  border         : 0;
  align-self     : flex-end;
  
  @media not all and (min-resolution : .001dpcm) {
    @supports (-webkit-appearance: none) {
      /* Safari Only CSS here */
      //margin-bottom : 9px;
    }
  }
  
  .picker_holder_select_row {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
  }
  
}

.search_btn_holder {
  margin-top      : 90px;
  display         : flex;
  justify-content : flex-end;
}

.search_btn_holder_select {
  margin-top      : 45px;
  display         : flex;
  flex-direction  : row;
  justify-content : flex-end;
}

.searchBtn {
  width          : 323px;
  height         : 60px;
  font-size      : 24px;
  line-height    : 28px;
  font-weight    : bold;
  
  text-align     : center;
  text-transform : uppercase;
  color          : #292929;
  background     : rgba(255, 168, 0, 1);
  border         : 0;
  border-radius  : 5px;
  
  &:hover, &:focus {
    color      : #292929;
    background : rgba(255, 168, 0, 1);
    box-shadow : 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  &:active {
    color      : #FFA800;
    background : transparent;
    border     : 1px solid #FFA800;
    filter     : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.success__msg {
  margin-top  : 350px;
  padding     : 0 260px;
  font-size   : 72px;
  line-height : 84px;
  font-weight : bold;
  
  color       : #FFFFFF;
}
