@import 'src/styles/common';

.root {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 45px;
}

.panel {
  cursor: initial;
}

.title {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
  align-self: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: left;
  color: #292929;
  border: 0;
  background: transparent;
}

.btn {
  font-size: 24px;
  font-weight: bold;

  font-style: normal;
  line-height: 28px;
  align-self: flex-end;
  width: 228px;
  height: 60px;
  text-align: center;
  color: #ffffff;

  border: 0;
  border-radius: 5px;
  background: #ffa800;

  &:disabled {
    color: #ffffff;
    background: #928f94;

    &:hover {
      color: #ffffff;
      background: #928f94;
    }
  }

  &:hover:enabled {
    color: #ffffff;
    border: 0;

    border-radius: 5px;
    background: #ffa800;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &:active:enabled,
  &:focus:enabled {
    box-sizing: border-box;
    color: #ffa800;
    border: 1px solid #ffa800;
    border-radius: 5px;
    background: #ffffff;
  }
}
