@import 'src/styles/common';

.root {
  display         : flex;
  width           : 100%;
  flex-direction  : column;
  justify-content : flex-start;
  align-items     : stretch;
  gap             : 45px;
}

.panel {
  cursor : initial;
}

.title {
  width       : 100%;
  height      : 100%;
  font-size   : 30px;
  line-height : 35px;
  font-weight : 400;
  font-style  : normal;
  text-align  : left;
  color       : #292929;
  background  : transparent;
  border      : 0;
  cursor      : pointer;
  align-self  : center;
}

.btn {
  width         : 228px;
  height        : 60px;
  
  font-size     : 24px;
  line-height   : 28px;
  font-weight   : bold;
  font-style    : normal;
  text-align    : center;
  color         : #FFFFFF;
  background    : #FFA800;
  
  border        : 0;
  border-radius : 5px;
  align-self    : flex-end;
  
  &:disabled {
    color      : #FFFFFF;
    background : #928F94;
    
    &:hover {
      color      : #FFFFFF;
      background : #928F94;
      
    }
  }
  
  &:hover:enabled {
    color         : #FFFFFF;
    background    : #FFA800;
    
    border        : 0;
    border-radius : 5px;;
    filter        : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  &:active:enabled, &:focus:enabled {
    box-sizing    : border-box;
    color         : #FFA800;
    background    : #FFFFFF;
    border        : 1px solid #FFA800;
    border-radius : 5px;
  }
}