.PassengerCard .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #f9f9f9;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  margin: 0;
  padding: 25px 30px;
  width: 100%;
  border: 1px solid #c4c4c4;
}

.PassengerCard .ant-collapse-ghost > .ant-collapse-item {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 45px;
}

.PassengerCard .ant-collapse > .ant-collapse-item > .ant-collapse-header div {
  display: flex;
  align-items: center;
  height: 100%;
}

.PassengerCard .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 30px 0;
  border: 1px solid #c4c4c4;
  border-top: 1px #928f94 dashed;
  background: #ffffff;
}

.PassengerCard .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 100%;
}

.PassengerCard
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 100%;
}

.PassengerCard .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #c4c4c4;
}

.PassengerCard .ant-form-item-label > label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #928f94;
}

.PassengerCard .ant-input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #292929;
}

.PassengerCard .ant-form-item {
  margin-bottom: 0;
  font-size: 18px;
}

.PassengerCard .ant-radio-button-wrapper:first-child {
  border: 1px solid #928f94;
  border-radius: 5px 0 0 5px;
}

.PassengerCard .ant-radio-button-wrapper:last-child {
  border: 1px solid #928f94;
  border-radius: 0 5px 5px 0;
}

.PassengerCard .ant-radio-button-wrapper {
  width: 100px;
  height: 50px;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #000000;
}

.PassengerCard .ant-radio-button-wrapper span {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.PassengerCard .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #ffa800;
  border: 1px solid #928f94;
  color: #000000;
}

.PassengerCard
  .ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  border: 1px solid #928f94;
  box-shadow: 0 0 0 0 transparent;
}

.PassengerCard .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: transparent;
}

.PassengerCard .ant-radio-button-wrapper:focus-within {
  box-shadow: 0 0 0 0 transparent;
}

.PassengerCard .ant-radio-button-wrapper:not(:first-child)::before {
  background-color: #928f94;
}
