@import 'src/styles/common';

.root {
  width: 320px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 32px;
  height: 26px;
}

.sideSelection__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  flex-grow: 1;
  margin-left: 12px;
  color: #ffffff;
}

.timePickerPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  padding-left: 10px;
}

.timePickerSubTitle {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;

  color: #e5e5e5;
}

.firstST {
  align-self: flex-start;
}

.secondST {
  align-self: flex-end;
  margin-top: 45px;
}
