@import 'src/styles/common';

.root {
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.cardBody {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.ageGroupSelect {
  box-sizing: border-box;
  width: 280px;
  height: 50px;
  border: 1px solid #928f94;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  &_padding {
    padding: 0 30px;
  }

  &_personal {
    display: grid;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    gap: 10px;
  }

  &_gender {
    display: grid;
    width: 100%;
    grid-template-columns: 210px 1fr;
    grid-template-rows: min-content;
    gap: 35px;
  }

  &_paper {
    display: grid;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 150px;
    padding-top: 25px;
    border-top: 1px dashed #928f94;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 35px;
  }

  &_limited {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    padding-top: 45px;
    padding-bottom: 30px;

    color: #292929;
  }

  &_btn {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 90px;
    padding: 0 30px;
    border-top: 1px dashed #928f94;
  }
}

.btn {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  box-sizing: border-box;
  width: 305px;
  height: 60px;
  text-align: center;

  color: #292929;
  border: 1px solid #292929;
  border-radius: 5px;
  background-color: transparent;

  &:hover,
  &:focus {
    color: #ffa800;
    border: 1px solid #292929;
    background-color: #ffffff;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  &:active {
    color: #292929;
    border: 1px solid #ffa800;
    background-color: #ffa800;
  }

  &:disabled {
    color: #ffffff;
    border: #928f94;
    background-color: #928f94;

    &:hover {
      color: #ffffff;
      border: #928f94;
      background-color: #928f94;
      filter: none;
    }
  }
}

.inputField {
  box-sizing: border-box;
  width: 280px;

  height: 50px;
  border: 1px solid #928f94;
  border-radius: 5px;
  background: #ffffff;
}

.datePicker {
  box-sizing: border-box;
  width: 240px;

  height: 50px;
  border: 1px solid #928f94;
  border-radius: 5px;
}

.docType {
  box-sizing: border-box;
  width: 205px;

  height: 50px;
  border: 1px solid #928f94;
  border-radius: 5px;
  background: #ffffff;
}

.docData {
  box-sizing: border-box;
  width: 400px;

  height: 50px;
  border: 1px solid #928f94;
  border-radius: 5px;
}
