@import 'src/styles/common';

.root {
  width : 320px;
  
}

.header {
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  align-items     : center;
}

.icon {
  width  : 32px;
  height : 26px;
  color  : #FFA800;
}

.sideSelection__title {
  margin-left : 12px;
  flex-grow   : 1;
  font-size   : 30px;
  line-height : 35px;
  font-weight : bold;
  color       : #FFFFFF;
}

.timePickerPanel {
  position       : relative;
  padding-left   : 10px;
  display        : flex;
  width          : 290px;
  flex-direction : column;
}

.timePickerSubTitle {
  display               : grid;
  font-size             : 24px;
  line-height           : 28px;
  font-weight           : normal;
  font-style            : normal;
  color                 : #E5E5E5;
  grid-template-rows    : min-content;
  grid-template-columns : 140px min-content 1fr min-content;
  gap                   : 10px;
  
  .title {
    margin : inherit;
  }
  
  .price {
    font-size   : 24px;
    line-height : 28px;
    font-weight : 700;
    font-style  : normal;
    text-align  : right;
    
    color       : #FFFFFF;
  }
  
  .currency {
    width  : 14px;
    height : 17px;
    color  : #928F94;
  }
}