@import '../../../../styles/common';

.root {
  display: flex;
  flex-direction: row;
}

.btn {
  //width       : 22px;
  //height      : 22px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;

  color: #928f94;
}

.active {
  color: #000000;
}
